.button-container {
  text-align: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Add some top margin */
}

.button-container button {
  margin: 0 10px; /* Add margin to separate the buttons */
  /* padding: 10px 20px; Add padding for better appearance */
  background-color: #007bff; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.button-container button:hover {
  background-color: #0056b3; /* Change background color on hover */
}
