.mega-dropdown {
  position: relative;
}

.dropdown-menu {
    position: relative;
    margin-top: 1rem;
    border-radius: .8rem;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

h6{
  display: flex;
  justify-content: space-between;
  align-items: center;   
}

.menu-row:last-child {
  border-bottom: none;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 45%;
  margin-left: 6px;
}

.button1 {
  /* padding: 4px 8px; */
  border: 2px solid #00745c;
  border-radius: 2px;
  background-color: white;
  color: #00745c;
  cursor: pointer;
}
.button2 {
  /* padding: 4px 4px; */
  border: 2px solid #00745c;
  border-radius: 2px;
  background-color: #00745c;
  color: #010101;
  cursor: pointer;
  margin-left: 4px;
}
/* button:hover {
  background-color: white;
} */

/* Optional: Style the dropdown header */
.dropdown-header {
  cursor: pointer;
}

/* Optional: Style the dropdown icon */
.fa-chevron-up,
.fa-chevron-down {
  margin-left: 5px;
}


