.container{
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
}

.container{
    padding: 20px;
    border: 2px solid rgb(18, 15, 15) ;
    cursor: pointer;
}

.dateRange {
    position: absolute;
    top: 120px ;
}